:root {
    --background-color: #202124; 
    --dark-gray-color: #292A2D; 
    --white-color: #FFFFFF;
    --gray-color: #BDBDBD;
}

body {
    width: 250px;
    background-color: var(--background-color);
    border: 0px;
    text-align: center;
    color: var(--white-color);
    font-family: "Roboto", "Arial", sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authToken, .authService, .authGemini{
    display: none;
}

.selectAuth {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectAuth select {
    background-color: var(--dark-gray-color);
    color: var(--white-color);
    padding: 5px 10px 5px 10px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.authCheck input{
    width: 200px;
    padding: 6px 10px 6px 10px;
    background-color: var(--dark-gray-color);
    margin-top: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;;
}

.authCheck button{
    margin: 10px 0px 5px 0px;
    background-color: var(--dark-gray-color);
    color: var(--white-color);
    padding: 4px 10px 4px 10px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;

}

.warningText {
    display: flex;
    align-items: center;    
    justify-content: center; 
}

.warningText p {
    margin: 0px;
    font-size: 12px;
    max-width: 200px; 
}

.infoText{
    font-size: 13px;
    font-weight: 900;
    color: var(--white-color);
    margin: 10px 0px 0px 0px;
}

#responseText{
    margin: 5px;
    color: green;
}

.userInput {
    display: flex;
    flex-direction: column;
}

.userInput label{
    font-size: 14px;
}

input[type="range"] {
    -webkit-appearance: none;
    background: var(--background-color);
    outline: none;
    border-radius: 5px;
    margin-bottom: 7.5px;
    height: 24px;
    padding: 0px 5px 0px 5px;
}

input[type="range"]::webkit-slider-thumb{
    -webkit-appearance: none;
    width: 400px; 
    height: 400px; 
    border-radius: 50%; 
}

#loginType, #temperatureValue, #tokenlimitValue{
    font-weight: 900;
}

.userInput{
    background-color: var(--dark-gray-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.userInput button{
    color: var(--white-color);
    background-color: var(--background-color);
    border: 0px;
    border-radius: 5px;
    margin: 5px 3px 0px 3px;  
    padding: 4px 0px 4px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
}

.userInput p {
    font-size: 15px;
    margin: 8px;
}

textarea {
    text-align: left;
    color: var(--white-color);
    background-color: var(--background-color);
    border: 0px;
    border-radius: 5px;
    resize: none;
    margin: 3px 3px 0px 3px;  
}

.progress p {
    font-weight: 900;
}