:root {
    --black-color: #000000; 
    --dark-gray-color: #202124; 
    --white-color: #FFFFFF;
}

body {
    width: 200px;
    background-color: var(--dark-gray-color);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    text-align: center;
}

.info h1 {
    color: var(--white-color);
    font-family: "Roboto", "Arial", sans-serif;
}

.info p {
    color: var(--white-color);
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bolder;
}

.authCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.authCheck input{
    padding: 0px;
    margin: 0px
}